
.app-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: monospace;
}

.app-area{
  width: 100%; 
  display: flex;
  background-color: #9e7777;
  position: relative;
  padding: 20px; /* tablonun alt kısmının boşluğunu belirtir. */
}


.app-chart-item-wrapper{
  position: absolute;
  display: flex;
  height: 40px; /* tablonun üst kısmı için olan boşlu*/
  align-items: center; /* tablonun içindekileri merkez yapar*/
  transition: all 1s linear;

}

.app-chart-item{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: rgb(72, 36, 117);
  font-family: monospace;
  border: 1px solid black;
  border-radius: 6px;
  height: 30px; /* tablonun içindeki dikdörtgenlerin yüksekliği */
  transition: all 1s linear;
}

.app-chart-text{
  margin-left: 4px;
  font-size: 12px;
  font-family: monospace;
  font-weight: bold;
  color: rgb(126, 4, 124);
}